<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style='background-color: #f6f6f6; font-family: sans-serif;'>
	<div style="font-size: 40px; text-align: center">{{appName}}</div>
	<img src='{{logoURL}}' style='height: 150px; width: 250px; border: none; display: block; margin-right: auto; margin-left: auto; margin-top: 5px'/>
	<div style="font-size: 30px; text-align: center">Change Password</div>
	<div style="font-size: 20px; text-align: left; background: #f0f0f0; font-weight: lighter; max-width: 600px; margin-right: auto; margin-left: auto; margin-top:5px">
		<form action='{{url}}/forgotPassword' method='POST' style="padding: 20px;">
			<input type='hidden' value='{{passToken}}' name='passToken'/>
			<input type='hidden' value='{{id}}' name='id' />
			<input class='form-control' style='font-size: 15px; width: 70%; display: block; margin-left: auto; margin-right: auto; padding: 5px' type='password' name='password' placeholder='Type new password' /><br/>
			<button class='btn btn-dark btn-sm' style='display: block; margin-left: auto; margin-right: auto; padding: 10px; border-radius: 10px; background: #50394c; color: white; outline: none; border: none;'>
				Change Password
			</button>
		</form>
	</div>
</body>
</html>